<h1>{{title}}</h1>
<p>This is your league: <a href="{{league.url}}">{{league.name}}</a></p>
<p>See <a href="http://fantasysports.yahooapis.com/fantasy/v2/league/{{league.league_key}}/players;status=A">all available players</a> in your league</p>
